@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-x-hidden;
  }
  
  body {
    @apply bg-white text-slate-900 overflow-x-hidden;
    font-size: 16px;
    line-height: 1.6;
  }
  
  * {
    @apply box-border;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
